body{
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid black;
    border-radius: 23px;
    margin: 4em;
    padding:35px;
    gap: 10px;
    background-color: rgb(53, 179, 211);
}

.container .display{
    text-align: right;
    font-size: 20px;
    grid-column: 1/5;
    grid-row: 1;
    background-color: beige;
}


.btnErase, .btnClear, .btnPercent{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    grid-row: 2;
}

.btnOp1, .btnOp2, .btnOp3, .btnOp4, .btnOp5{
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;

}

